#!/usr/bin/make -f
export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+bindnow

documentation:
	make man
	make latexpdf

configure:
	make debian_defconfig

build: documentation configure
	dh $@

%:
	echo $@
	dh $@
